
@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins';
    font-size: 1em;
}

.menu-item > a > img {
    max-width: 3em;
    margin: 2% 0px 0px 2% ;
}

.top-container {
    display: flex;
    margin:  2em 5em;
    background-color: #ffffff;
    text-align: center;
}

.top-container > article.content {
    width: 50%;
    text-align: start;
}

.top-container > article.content > h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 20px auto 0px auto;
    max-width: 80%;
    text-indent: 30px;
}

.top-container > article.content > h2 {
    font-size: 1.2em;
    margin: 0px auto 30px auto;
    max-width: 70%;
    word-spacing: 5px;
    line-height: 20px;
    text-indent: 30px;
}

.top-container > article.content > h2 > .name {
    color: #ffe241;
    text-shadow: #0000000c 0px 0px 2px;
}

.top-container > article.content > h2 > .surname {
    color: #ffbe5c;
    text-shadow: #0000000c 0px 0px 2px;
}

.top-container > article.content > p {
    margin: 20px auto;
    max-width: 80%;
    word-spacing: 5px;
    line-height: 20px;
    text-indent: 30px;
}

.top-container > article.picture {
    width: 70%;
    font-weight: bold;
    text-shadow: #0000005d 3px 2px 5px;
}

.top-container > article.picture > img {
    margin: 20px auto -10px auto;
    max-width: 55%;
    border-radius: 10px;
    box-shadow: #00000023 0px 0px 30px 1px;
    transition: 0.3s;
}

/* áres das Estátisticas */

.status-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px 10px 0px;
    background: linear-gradient(90deg, #ffe241 50%, #ffbe5c);
    text-shadow: #0000005d 3px 2px 5px;
}

.status-container > .status-item {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.status-container > .status-item > span {
    display: block;
    font-size: 3em;
    transition: 0.5s;
}

.status-container > .status-item > span:hover{
    text-shadow: #ffffff 0px 0px 10px;
    transition: 0.5s;
}

.status-container > .status-item > p {
    margin: 0;
    font-size: 1.2em;
}

/* área de amostra dos trabalhos */

.middle-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-image: url("../images/icons/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    padding: 2px;
}

.middle-container > .content {
    text-align: left;
    margin: 2% 7% 0px 0px;
    max-width: 40%;
}

.middle-container > .content > h1 {
    font-size: 2em;
    font-weight: bolder;
    text-shadow: #00000056 0px 0px 5px;
    text-align: center;
    margin: 0px 6%;
}

.middle-container > .content > p {
    margin: 20px auto;
    max-width: 90%;
    word-spacing: 5px;
    line-height: 20px;
}

.middle-container > .content > p > span {
    font-weight: bolder;
    font-size: 1.1em;
}

.card-container {
    padding-inline: 5%;
    margin: 6% 2%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: 340px;
}

.card-container > .card-item {
    align-content: center;
    text-align: center;
    margin: 2% 0px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000002a;
    width:230px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
      background-color: #f2f52883;
    }
    50% {
      transform: translateY(-5%);
      background-color: #f7a71165;
    }
}

.card-container > .card-item > img {
    width: 90%;
    border-radius: 10px;
}

/* área de doações */

.low-container {
    padding: 20px;
}

.low-container > .content {
    max-width: 50%;
}

.low-container > .content > h1{
    font-size: 2em;
    font-weight: bolder;
    margin: 4% 0px 2% 6%;
    max-width: 55%;
    text-indent: 30px;
    text-shadow: #00000056 0px 0px 5px;
}

.low-container > .content > p {
    font-size: 1em;
    margin: 10px 0px 0px 6%;
    max-width: 100%;
    text-indent: 30px;
    word-spacing: 5px;
    line-height: 20px;
}

.quote-container {
    display: flex;
    align-items: center;
}

.quote-container > .quote {
    max-width: 42%;
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 0px 10% 20px 5%;
    padding: 30px;
    box-shadow: inset #8d03c411 0px 0px 20px 3px;
    border-radius: 10px;
}

.quote-container > .quote > img {
    max-width: 10%;
    transform: rotate(25deg);
    margin: 0px 0px 0px 2%;
}

.quote-container > .quote > p > span {
    font-weight: bolder;
    font-size: 1.1em;
}

.quote-container > .quote > p {
    font-size: 1.6em;
}

.pix {
    display: flex;
    flex-direction: column;
    margin: 0px 2%;
}

.pix > p {
    margin: auto;
    font-size: 4em;
    font-weight: bolder;
    color: #b00ce2;
    text-shadow: #b879fff3 0px 0px 5px;
    transition: 0.3s;
    
}

.pix > p:hover {
    color: #d446ff;
    text-shadow: #a150fff3 0px 0px 5px;
}

.qrcode {
    margin: 0px 5% 0px 0px ;
    padding: 2px;
}

.qrcode > img {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: #00000018 0px 0px 10px 2px;
}

/* área de menu/informações de contato */

#menu-container {
    padding: 20px;
    margin: 5% 0px;
}

#menu-container > .content {
    max-width: 45%;
}

#menu-container > .content > h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 4% 0px 2% 6%;
    max-width: 55%;
    text-indent: 30px;
    text-shadow: #00000056 0px 0px 5px;
}

#menu-container > .content > p {
    font-size: 1em;
    margin: 10px 0px 0px 6%;
    max-width: 100%;
    text-indent: 30px;
    word-spacing: 5px;
    line-height: 20px;
}

#menu-container > .informations-container {
    display: flex;
    align-items: center;
}

#menu-container > .informations-container > .contact-container {
    display: flex;
    flex-direction: column;
    padding: 80px;
    margin: 5% 15% 20px 3%;
    background-image: url("../images/icons/pessoa.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 35%;
}

#menu-container > .informations-container > .contact-container > .instagram {
    display: flex;
    gap: 5%;
    width: 600px;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

#menu-container > .informations-container > .contact-container > .instagram  > p {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
}

#menu-container > .informations-container > .contact-container > .instagram > a > img {
    max-width: 75px;
    margin: 0px 0px 0px 2%;
}

#menu-container > .informations-container > .contact-container > .telephone {
    gap: 5%;
    display: flex;
    align-items: center;
}

#menu-container > .informations-container > .contact-container > .telephone > p {
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
}

#menu-container > .informations-container > .contact-container > .telephone > a > img {
    max-width: 70px;
    margin: 0px 0px 0px 2%;
}

#menu-container > .informations-container > .location-map > .location {
    background-color: #070707;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    box-shadow: #00000018 0px 0px 10px 2px;
    margin: 10% 0px 0px 0px;
}

#menu-container > .informations-container > .location-map > .location > p {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
}

#menu-container > .informations-container > .location-map > .location > img {
    max-width: 5%;
    padding: 10px;
}

#menu-container > .informations-container > .location-map > .map {
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: #00000018 0px 0px 10px 2px;
}

#menu-container > .informations-container > .location-map > .map > iframe {
    border-radius: 10px;
}

/* footer a partir daqui */