
@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins';
    font-size: 1em;
}

.menu-container > img {
    max-width: 2em;
    margin: 1.5em ;
}

.top-container {
    display: flex;
    margin:  2em 5em;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.top-container > article.content {
    width: 50%;
    text-align: start;
}

.top-container > article.content > h1 {
    font-size: 2em;
    font-weight: bolder;
    margin: 20px auto 0px auto;
    max-width: 80%;
    text-indent: 30px;
}

.top-container > article.content > h2 {
    font-size: 1.2em;
    margin: 0px auto 30px auto;
    max-width: 70%;
    word-spacing: 5px;
    line-height: 20px;
    text-indent: 30px;
}

.top-container > article.content > p {
    margin: 20px auto;
    max-width: 80%;
    word-spacing: 5px;
    line-height: 20px;
    text-indent: 30px;
}

.top-container > article.picture {
    width: 70%;
    font-weight: bold;
    text-shadow: #0000005d 3px 2px 5px;
}

.top-container > article.picture > img {
    margin: 20px auto -10px auto;
    max-width: 55%;
    border-radius: 10px;
    box-shadow: #00000023 0px 0px 30px 1px;
    transition: 0.3s;
}

.top-container > article.picture > img:hover {
    transition: 0.5s;
    max-width: 55.5%;
}

.status-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 30px 0px;
    background: linear-gradient(90deg, #ffda08 50%, #fd9902);
    text-shadow: #0000005d 3px 2px 5px;
}

.status-container > .status-item {
    text-align: center;
    color: white;
    font-weight: bold;
}

.status-container > .status-item > span {
    display: block;
    font-size: 3em;
    transition: 0.5s;
}

.status-container > .status-item > span:hover{
    text-shadow: #ffffff 0px 0px 10px;
    transition: 0.5s;
}

.status-container > .status-item > p {
    margin: 0;
    font-size: 1.2em;
}

/* cards de apresentação dos trabalhos artesanais*/

.middle-container {
    background-image: url("../images/icons/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    height: 1000px;
    padding: 2px;
}

.middle-container > .content {
    font-size: 2em;
    font-weight: bolder;
    margin: 20px 0px 0px 7%;
    max-width: 28%;
    text-indent: 30px;
    text-shadow: #00000056 0px 0px 5px;
    background-color: #e9e9e996;
    border-radius: 10px;
    box-shadow: inset #00000009 0px 0px 4px 0px;
}

.card-container {
    margin: 5% 10%;
    display: flex;
    gap: 130px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container > .card-item {
    background-color: #f7f7f7e8;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000003f;
    padding: 7px;
    width: 300px;
    text-align: center;
    transition: 0.3s;
}

.card-container > .card-item > img {
    width: 100%;
    border-radius: 10px;
}

.card-container > .card-item > p {
    color: #666;
    margin-bottom: 2px;
    text-shadow: #00000048 0px 0px 2px;
}

.card-container > .card-item:hover {
    transform: translateY(-10px);
}

/* Parte dedicada a ajuda*/

.low-container {
    padding: 20px;
}


.low-container > .content > h1{
    font-size: 2em;
    font-weight: bolder;
    margin: 4% 0px 0px 6%;
    max-width: 35%;
    text-indent: 30px;
    text-shadow: #00000056 0px 0px 5px;
}

.low-container > .content > p {
    font-size: 1em;
    margin: 2% 0px 0px 6%;
    max-width: 50%;
    text-indent: 30px;
}

.quote-container {
    display: flex;
    padding: 50px;
    align-items: center;
}

.quote-container > .quote {
    max-width: 42%;
    display: flex;
    align-items: center;
    gap: 10%;
    margin: 0px 10% 20px 5%;
    padding: 30px;
    box-shadow: inset rgba(141, 3, 196, 0.089) 0px 0px 20px 3px;
    border-radius: 10px;
}

.quote-container > .quote > img {
    max-width: 10%;
    transform: rotate(25deg);
    margin: 0px 0px 0px 2%;
}

.quote-container > .quote > p > span {
    font-weight: bolder;
    font-size: 1.1em;
}

.quote-container > .quote > p {
    font-size: 1.6em;
}

.pix {
    display: flex;
    flex-direction: column;
    margin: 0px 2%;
}

.pix > p {
    margin: auto;
    font-size: 4em;
    font-weight: bolder;
    color: rgb(176, 12, 226);
    text-shadow: #7507f1f3 0px 0px 5px;
}

.qrcode {
    margin: 0px 5% 0px 0px ;
    padding: 2px;
}

.qrcode > img {
    max-width: 80%;
}